<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.kyleduo.switchbutton.demo"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".StyleActivity"
			android:label="@string/title_activity_style"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"
				/>
		</activity>
		<activity
			android:name=".UseActivity"
			android:label="@string/title_activity_use"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"
				/>
		</activity>
		<activity
			android:name=".StyleInCodeActivity"
			android:label="@string/title_activity_style_in_code"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"
				/>
		</activity>
		<activity
			android:name=".RecyclerActivity"
			android:label="@string/title_activity_recycler_view"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"
				/>
		</activity>

	</application>

</manifest>
